<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>D2D Planner</title>

  <link rel = "icon" href ="https://img.icons8.com/nolan/64/2012.png" type = "image/x-icon">
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
