<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Weather</title>
   <link rel = "icon" href ="https://img.icons8.com/color/48/000000/barometer.png" type = "image/x-icon">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  />

  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dosis:wght@800&family=Kanit:wght@800&family=Nunito:wght@700&display=swap" rel="stylesheet">
</head>
